<div class="container">
  <div class="col">
    <h2>Registrar Estudiante</h2>
    <form>
      <div class="mb-3">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre"
               class="form-control" placeholder="Nombre"
               [(ngModel)]="nombreInput">
      </div>
      <div class="mb-3">
        <label for="apellido">Apellido</label>
        <input type="text" id="apellido" name="apellido"
               class="form-control" placeholder="Apellido"
               [(ngModel)]="apellidoInput">
      </div>
      <button class="btn btn-primary"
              (click)="agregar()">Agregar</button>
    </form>
  </div>

  <div class="row">
    <div class="col">
      <hr>
      <h2>Listado de Estudiantes</h2>
      <div *ngFor="let estudiante of estudiantes; index as i">
        {{ i + 1 }} - {{ estudiante.nombre }} {{ estudiante.apellido }}
      </div>
    </div>
  </div>
</div>
